.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: rgb(3, 3, 26);
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 1px 0 #232931;
  font-size: 4rem;
  color: rgba(218, 165, 32, 0.678);
}

p {
  font-size: 2rem;
  color: #fafafa;
  font-family: 'Indie Flower', cursive;
}


img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
